.list{
  overflow:scroll;
  width:100%;
}
.with_header .list{
  height:calc(100vh - 64px);
}

.with_navbar .list{
  height:calc(100vh - 64px);
}
.with_header.with_navbar .list{
  height:calc(100vh - 128px);
}

.list .listitem {
  padding:1em;
  border: 1px solid var(--primaryBgDColor);
  width: 100%;
}
