.page {
  flex:1;
  display: flex;
  background-color: var(--secondaryBgColor);
}

.page-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.with_header {
  min-height:calc(100vh - 64px);
}

.with_navbar {
  min-height:calc(100vh - 64px);
}
.with_header.with_navbar{
  min-height:calc(100vh - 128px);
}

div.header{
  background-color:var(--primaryBgColor);
  color:var(--primaryTxColor);
  min-height:64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}
